.card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  box-shadow: 10px 10px 50px #04044a;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card-special {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); */
  box-shadow: 10px 10px 50px #a5971a;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.content {
  padding: 20px;
  position: relative;
  text-align: center;
  justify-content: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.card:hover .content,
.card-special:hover .content {
  transform: translateY(0px);
  opacity: 1;
}

.content h2 {
  position: absolute;
  top: -80px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.06);
  pointer-events: none;
}

.content h3 {
  font-size: 1.8em;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  pointer-events: none;
}

.content p {
  position: relative;
  font-size: 1em;
  font-weight: 300;
  pointer-events: none;
}
/* 
.container a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #fff;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
} */

/* .container a:hover {
  transition: 0.4s;
  background: #273297;
  box-shadow: 10px 10px 50px #0b0b7c;
  color: #fff;
}

.card-special a:hover {
  transition: 0.4s;
  background: #a5971a;
  box-shadow: 10px 10px 50px #a5971a;
  color: #fff;
} */

@media (max-width: 600px) {
  .card-special .content,
  .card .content{
    transform: translateY(0px);
    opacity: 1;
  }
}
