footer {
    background-color: #04044a;
    /* position: relative; */
    padding: 15px;
    justify-content: center;
    text-align: center;
}

footer a{
    color: #fff;
    text-decoration: none;
}

@media (max-width: 999px) {
    footer {
        font-size: 0.8em;
    }
}